build
data/*/*
!data/.empty
!data/main/.empty
tools/data/*
tools/out/*
!tools/data/FontAscii.pbm
!tools/data/Fade4bpp.pbm
!tools/data/SaveIcon.pbm
*.o
*.elf
*.exe
*.iso
*.psb
*.bsp
*.dep
.vscode
compile_flags.txt
compile_commands.json
